<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="DemoSuite">
  <test thread-count="5" name="OrangeHRMLogin">
    <classes>
      <class name=".TestClass"/>
      <class name=".OrangeHRM"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
